*.a
*.dylib
*.mod
*.o
*.so
*.tmp
.build*
.makedep
*.so
*.so.*
*.pdb
*.obj
*.exe
*.dll
*.exp
*.lib
*.sdf
*.suo
*.filters
*.user
*.old
*.opensdf
project.xcworkspace
*.save
UpgradeLog*.XML
_UpgradeReport_Files
projects/WIN/mpr-dynamic/ipch
.testFile.tmp*
*.stackdump
*.cltmp
.DS_Store
*-xcode
MACOSX/webs
